.driwer {
    position: absolute;
    display: flex;
    flex-direction: column;


    right: 0;
    height: 100%;
    width: 420px;
    background: #ffffff;
    box-shadow: -10px 4px 24px rgba(0, 0, 0, 0.1);
    padding: 30px;

    h2 {
        margin: 0;
    }

    .items {
        flex: 1;
        overflow: auto;
        margin-bottom: 40px;
    }
}